<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
        <ion-button (click)="onLogout()">
          logout
        </ion-button>
      </ion-buttons>
  <ion-title>Settings</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
    <ion-item >
        <ion-label text-wrap>
          <h3>{{userInfo?.name}}</h3>
          <p>Your friend id is {{userInfo?.id}}</p>
        </ion-label>
        <ion-avatar slot="start">
            <img src="{{userInfo?.pic}}">
        </ion-avatar>
    </ion-item>
    <div style="padding: 2px 20vw ">
      <qrcode [qrdata]="userInfo?.id"  size="1024" level="M"></qrcode>
    </div>
</ion-content>

