<ion-header>
</ion-header>

<ion-content>
  <ion-item >
    <ion-label text-wrap>
      <h3>{{userInfo?.name}}</h3>
      <p *ngIf="userInfo?.state != 'on table'">{{userInfo?.state}}</p>
      <p *ngIf="userInfo?.state == 'on table'&&userInfo?.security_status == 'danger'">Man down!</p>
      <p *ngIf="userInfo?.state == 'on table'&&userInfo?.security_status != 'danger'">Phone on table</p>
    </ion-label>
    <ion-avatar slot="start">
        <img src="{{userInfo?.pic}}">
    </ion-avatar>
    <ion-icon slot="end" *ngIf="userInfo?.state == 'walking'" name="walk"></ion-icon>
    <ion-icon slot="end" *ngIf="userInfo?.state == 'standing'" name="body"></ion-icon>
    <ion-icon slot="end" *ngIf="userInfo?.state == 'activity'" name="pulse"></ion-icon>
    <ion-icon slot="end" *ngIf="userInfo?.state == 'on table'&&userInfo?.security_status != 'danger'" name="bed"></ion-icon>
    <ion-icon slot="end" *ngIf="userInfo?.state == 'on table'&&userInfo?.security_status == 'danger'" name="warning"></ion-icon>
</ion-item>

<ion-item  *ngIf="userInfo?.security_status == 'danger'">
  <ion-label text-wrap color="danger">
    <h3>Your friend in the danger</h3>
    <p *ngIf="userInfo?.state == 'on table'&&userInfo?.security_status == 'danger'">Man down! Contact the police.</p>
  </ion-label>
</ion-item>

    <!--ion-button disabled fill="outline">
        Contact friend
        <ion-icon slot="end" name="mic"></ion-icon>
    </ion-button-->
  
  <ion-button expand="full" *ngIf="userInfo?.security_status == 'danger'" (click)="OnOperatorCall()" color="dark" >
    Contact operator
    <ion-icon slot="end" name="call"></ion-icon>
  </ion-button>
  
<ion-card>
  <ion-card-content style="padding: 0">
    <div id="fmap" style="height:72vh;"></div>
  </ion-card-content>
</ion-card>

</ion-content>