<ion-header>

</ion-header>
 
<ion-content padding>
    <ion-item >
        <ion-label text-wrap>
          <h3>{{userInfo?.name}}</h3>
          <p>You are {{userInfo?.state}}</p>
        </ion-label>
        <ion-avatar slot="start">
            <img src="{{userInfo?.pic}}">
        </ion-avatar>
        <ion-icon slot="end" *ngIf="userInfo?.state == 'walking'" name="walk"></ion-icon>
        <ion-icon slot="end" *ngIf="userInfo?.state == 'standing'" name="body"></ion-icon>
    </ion-item>
    <p style="font-size: 5px">{{stateTest}}</p>
    <ion-card>
        <ion-card-content style="padding: 0">
          <div id="map" style="height:72vh;"></div>
        </ion-card-content>
    </ion-card>
</ion-content>